.scroll_to_top {
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #000000; /* tech color */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 0;
  box-shadow: rgba(100, 100, 117, 0.2) -2px 7px 29px 1px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 1000;
}

.scroll_to_top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll_to_top:hover {
  background: var(--light_brown); /* accent */
}
